:root {
  font-family: 'Fascinate', cursive;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  background-image: url("/daisy.png");
  background-size: "cover";
  background-position: center;
  height: 100vh;
  width: auto;
}

nav {
  background-color: whitesmoke;
}

h1 {
  font-family: 'Abril Fatface', cursive;
  font-size: 3.2em;
  line-height: 1.1;
}

h3 {
  font-family: 'Abril Fatface', cursive;
  font-size: 2.2em;
}
.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* .notfound {
  background-image: url("/404Page.png");
  background-size: "cover";
  background-position: center;
  height: 100vh;
  width: auto;
} */



